# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Django static and media files

*.sqlite3
media/



# Virtual environment
venv/
env/
.venv/
# .gitignore
.env


# IDE
.vscode/
.idea/

# Sensitive

.env
local_settings.py
