{% extends "base.html" %} {% load static %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/inbox.css' %}" />
    <title>index</title>
  </head>
  <body>
    
     
      <div class="list-tasks">
    {% for task in tasks %}
    <div class="task-item {% if task.is_done %}task-item--done{% endif %}">

        <!-- checkbox form — stops click from going to detail page -->
        <form action="{% url 'TaskToggle' task.id %}" method="POST">
            {% csrf_token %}
            <input
                type="checkbox"
                id="task-{{ task.id }}"
                {% if task.is_done %}checked{% endif %}
                onchange="this.form.submit()" <!-- onchange event to submit the form when checkbox is clicked -->
            />
        </form>

        <!-- link only on the title -->
        <a href="{% url 'TaskDetail' task.id %}" class="task-item__link">
            <label for="task-{{ task.id }}">
                {{ task.title }}
                {% if task.due_date %}
                    <span class="task-item__date">{{ task.due_date|date:"M d" }}</span>
                {% endif %}
            </label>
        </a>

    </div>
    {% endfor %}
</div>
    
  </body>
</html>
{% endblock content %}
