/* ===== NAVBAR ===== */
*{
    text-decoration: none;
}
:root {
  --color-primary-dark: #1d1d1d;
  --color-primary-white: #f5f5f5;
  --color-surface: #ffffff;
  --color-border-dark: #000000;
  --color-border-white: #e0e0e0;
  --color-text: #333333;
  --shadow: 0 0  4px rgba(0, 0, 0, 0.1);
  --color-background: #f9f9f9;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding:0 5rem ;
  border-bottom: 1px solid var(--color-border-dark);
}
.navbar__brand a {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-text);
  text-decoration: none;
}
.navbar__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn_navbar {
  padding: 0.4rem 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.btn_navbar:hover {
  background-color: var(--color-primary-white);
}
.navbar__links .btn_navbar a {

  color: var(--color-text);
  font-size: 0.95rem;
}
.btn1{
  padding: 0.4rem 1rem;
  background-color: var(--color-border-dark);

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn1 a{
  color: #fff;
}
