{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/task_detail.css' %}" />
    <title>task details</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=date_range,flag_2,progress_activity"
    />
  </head>
  <body>
    <div class="details-container" id="modal-{{ task.id }}">
      <div class="details_card">
        <div class="details_header">
          <a href="{% url 'inbox' %}">Inbox</a>
    
          <div class="details_actions">
            <a href="{% url 'TaskUpdate' task.id %}" class="btn btn--primary"
              >Edit</a
            >
            <a href="{% url 'TaskDelete' task.id %}" class="btn btn--danger"
              >Delete</a
            >
          </div>
        </div>

        <div class="details_body">
          <div class="details_left">
            {% include 'components/toggle_done.html' with task=task %}
            <p class="details__description">
              {{ task.description|default:"No description." }}
            </p>
          </div>

          <div class="details_right">
            <!--category project-->

            <div class="details_meta-item">
              <span class="details_meta-label">Project</span>
              <div class="details_meta-value">
                <p>{{ task.category | default:"No project" }}</p>
              </div>
            </div>

            <!--date-->
            <div class="details_meta-item">
              <span class="details_meta-label">Date</span>
              {% if task.due_date %}
              <div class="details_meta-value">
                <span class="material-symbols-outlined"> date_range </span>
                <p>
                  {{ task.due_date|date:"M d, Y" |default:"No date specified" }}
                </p>
              </div>
              {% endif %}
            </div>
            <!--priority-->

            <div class="details_meta-item">
              <span class="details_meta-label">Priority</span>
              <div class="details_meta-value">
                <span class="material-symbols-outlined"> flag_2 </span>
                <p>{{ task.get_priority_display | default:"No priority" }}</p>
              </div>
            </div>
            <!--status-->
            <div class="details_meta-item">
              <span class="details_meta-label">Status</span>
              <div class="details_meta-value">
                <span class="material-symbols-outlined">
                  progress_activity
                </span>
                <p>{% if task.is_done %}Done{% else %}In Progress{% endif %}</p>
              </div>
            </div>
            <!--created at-->
            <div class="details_meta-item">
              <span class="details_meta-label">Created</span>
              <div class="details_meta-value">
                
                <p>{{ task.created_at|date:"M d, Y" }}</p>
              </div>
            </div>
            <!--updated at-->
            <div class="details_meta-item">
              <span class="details_meta-label">Updated</span>
              <div class="details_meta-value">
               
                <p>
                  {{ task.updated_at|date:"M d, Y" |default:"No update yet" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
