{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/inbox.css' %}"/>
{% endblock %}

{% block title %}Today{% endblock %}

{% block body_class %}page-Today{% endblock %}

{% block content %}
<div class="inbox-container">
    <div class="inbox-header">
        <h1 class="inbox-title">Today</h1>
       
    </div>

    <div class="task-items">
        {% for task in TaskToday %}
            {% include 'components/task_item.html' %}
        {% empty %}
            <p class="inbox-empty">No tasks yet — add one! 🎉</p>
        {% endfor %}    
    </div>
</div>
{% endblock %}
